<p>&emsp;Con la presente si autorizza la Ditta in indirizzo, ad effettuare il pagamento
 di quanto dovuto in riferimento alla fattura n°: <b>[$NUMERO_FATTURA$]/[$CENTRO$]</b> di € <b>[$TOTALE$]</b>
 direttamente al socio conferitore in oggetto.</p>
<p>&emsp;La ditta in indirizzo pertanto, accetta a soddisfare tale obbligazione e libera
 la scrivente dal debito in oggetto.</p>
<p>&emsp;Il socio conferitore, accetta ad essere
 soddisfatto in tale obbligazione dalla ditta in indirizzo e libera la scrivente dal debito in oggetto.</p>